@model WebAdvert.Web.Models.Accounts.ConfirmEmailViewModel

@{
    ViewData["Title"] = "ConfirmEmail";
}

<h1>ConfirmEmail</h1>

<h4>ConfirmEmailViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ConfirmEmail" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Email" class="form-control" type="hidden" />
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
